<html>
    <head>
      {% if title %}
      <title>{{ title }} - PyMarket</title>
      {% else %}
      <title>Welcome to PyMarket</title>
      {% endif %}
      <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
      <!--Bootstrap core CSS-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <!--END Bootstrap-->

      <!--PyMarket CSS-->
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" >
        <!--JQUERY-->
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
       <!--DataTables-->
       <script language="JavaScript" type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <!--END PyMarket CSS-->
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Gugi">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('dashboard.dashboard') }}">
                <span data-feather="home"></span>
                PyMarket
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('orders.orders') }}">
                            <span data-feather="file"></span>
                            Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('inventory.inventory') }}">
                            <span data-feather="shopping-cart"></span>
                            Inventory
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('transaction.incoming_transactions') }}">
                            <span data-feather="file"></span>
                            Incoming Transactions
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('transaction.outgoing_transactions') }}">
                            <span data-feather="file"></span>
                            Outgoing Transactions
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    {% if title != 'Sign In' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('user_auth.logout') }}">
                                <span data-feather="power"></span>
                                Sign out
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script> feather.replace() </script>
</html>
