{% extends "base.html" %}

{% block content %}

<div>
<h1 class="text-center" style="font-family: 'Gugi', serif;">Dashboard</h1>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-sm-10">
        <h2 class="sub-header" style="font-family: 'Gugi', serif;">Items Expiring Soon</h2>
        <div class="limiter">
          <div class="container-table100">
            <div class="wrap-table100">
              <div class="table-responsive">
                  <table id="expire_table" style="width:100%" class="table"></table>
              </div>
          </div>
        </div>

    </div>

    <div class="col-sm-10">
        <h2 class="sub-header" style="font-family: 'Gugi', serif;">Products Need Reordering</h2>
        <div class="limiter">
          <div class="container-table100">
            <div class="wrap-table100">
              <div class="table-responsive">
                  <table id="reorder_table" style="width:100%" class="table"></table>
              </div>
          </div>
        </div>
    </div>
</div>


<script>
$(document).ready(function() {
    var trans_data = {{expiring|tojson}};
    var table = $('#expire_table').DataTable( {
        data: trans_data,
        searching: false,
        paging: false,
        info: false,

        columns: [
            { title: "BatchID" },
            { title: "SKU" },
            { title: "Name" },
            { title: "Batch Quantity" },
            { title: "Expiration" }
        ]

    } );

} );
</script>


<script>
$(document).ready(function() {
    var trans_data = {{reorder|tojson}};
    var table = $('#reorder_table').DataTable( {
        data: trans_data,
        searching: false,
        paging: false,
        info: false,

        columns: [
            { title: "SKU" },
            { title: "Name" },
            { title: "Stock Quantity" },
            { title: "Reorder Point" }
        ]

    } );
} );
</script>




{% endblock %}
