  {% extends "base.html" %}

  {% block content %}
  <style>

  </style>
  <div class="container-fluid">
    <h1 align="center">This is the inventory page</h1>
    <div align="right" ><a href="{{ url_for('user_auth.logout') }}">Logout</a></div>

    <div class="container">
      <div class="table-responsive">
          <table style="width:100%" class="table table-hover table-sm">
              <thead>
                  <tr>
                      <th scope="col">SKU</th>
                      <th scope="col">Name</th>
                      <th scope="col">Reorder Point</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Options</th>
                  </tr>
              </thead>
              {% for product in inventory %}
                  <tbody>
                      <tr>
                          <!--SKU-->
                          <td>{{product[0]}}</td>
                          <!--Name-->
                          <td>{{product[1]}}</td>
                          <!--Reorder Point-->
                          <td>{{product[2]}}</td>
                          <!--Quantity-->
                          <td>{{product[3]}}</td>
                          <td>
                            <div class="btn-group">
                              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                              </button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Reorder</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item btn btn-danger" href="#">Delete</a>
                              </div>
                            </div>
                          </td>
                      </tr>
                  </tbody>
            {% endfor %}
        </table>
      </div>
    </div>
  </div>

  {% endblock %}
