{% extends "base.html" %}

  {% block content %}
  <style>
  td.details-control {
    background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
  }
  tr.shown td.details-control {
      background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
      color:red;
  }
</style>

<div class="container-fluid">
  <h1 align="center">This is the Sales page</h1>

  <div class="container">
    <div class="table-responsive">
        <table id="sales_table" style="width:100%" class="table table-striped table-bordered"></table>
        
    </div>
  </div>
</div>
<script>

/*function format ( d ) {
    // `d` is the original data object for the row
    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
            '<td>Full name:</td>'+
            '<td>'+"something"+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Extension number:</td>'+
            '<td>'+"something"+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Extra info:</td>'+
            '<td>And any further details here (images etc)...</td>'+
        '</tr>'+
    '</table>';
  }*/

  function format ( d ) {
    
    // `d` is the original data object for the row
    var str = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
    str += 	'<tr>'+ 
    		'<td>'+'SKU'+'</td>'+
        	'<td>'+'Name'+'</td>'+
        	'<td>'+'Location'+'</td>'+
        	'<td>'+'Quantity'+'</td>'+
        	'<td>'+'Status'+'</td>'
     		+'</tr>';
    {% for product in inventory %}
    str +=	'<tr>'+
       		'<td>'+'{{product[0]}}'+'</td>'+
        	'<td>'+'{{product[1]}}'+'</td>'+
        	'<td>'+'{{product[2]}}'+'</td>'+
        	'<td>'+'{{product[4]}}'+'</td>'+
        	'<td><input id="{{product[0]}}'+ d[0] + '" type="checkbox" onclick="toggleCheckbox({{product[0]}},' + d[0] + ')">'+'</td>'+
        	'</tr>';
    {% endfor %}

    str += '</table>';

    return str;
  }

  $(document).ready(function() {
    var sales_data = {{sales|tojson}};
    var inventory_data = {{inventory|tojson}}
    console.log(typeof(sales_data))
    var table = $('#sales_table').DataTable( {
      data: sales_data, 
      columns: [
        { title: "Order ID" },
        { title: "Customer ID" },
        { title: "Created Date" },
        { title: "Status" },
        { title: "Options"}
      ],
      "columnDefs": [ {
          "targets": -1,
          "className":      'details-control',
          "orderable":      false,
          "data":           null,
          "defaultContent": '',
          "render": function () {
           return '<i class="fa a-plus-square" aria-hidden="true"></i>';
                     }
      } ]

    } );
    
  

    $('#sales_table tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    } );

    

    /*$('input[name=checkbox]').change(function(){
    if($(this).is(':checked')) {
        // Checkbox is checked..
        alert("The checkbox was checked.");
    } else {
        // Checkbox is not checked..
        alert("The checkbox was unchecked.");
    }
});*/

/*document.addEventListener("DOMContentLoaded", function (event) {
    var _selector = document.querySelector('input[name=checkbox]');
    _selector.addEventListener('change', function (event) {
        if (_selector.checked) {
            alert("The checkbox was checked.");
        } else {
            alert("The checkbox was unchecked.");
        }
    });
});*/

  } );

  function toggleCheckbox(productID, SKU)
 {
 	var stringy = "" + productID + SKU;
 	
 	document.getElementById(stringy).disabled = true;
 }
</script>
{% endblock %}
