{% extends "base.html" %}

{% block content %}
<style>
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: red;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

/*tbody tr {
    display : none;
}
tr.parent {
    display : table-row;
}
tr.open {
    display : table-row;
}*/

/*.show {
    display: block;
}*/

.products {
    display: none;
}


</style>

    <h1 align="center">This is the sales page</h1>
     <a href="{{ url_for('user_auth.logout') }}">Logout</a>
     <table id="myTable" style="width:100%" class="table table-hover table-sm">
         <tr>
             <th>Order</th>
             <th>Customer</th>
             <th>Sales Channel</th>
             <th>Reference Order</th>
             <th>Options</th>
         </tr>
         
                  
         {% for order in sales %}
             
            <tr class="parent">
                <!--Order #-->
                <td>{{order[0]}}</td>
                <!--Customer-->
                <td>{{order[1]}}</td>
                <!--Sales Channel-->
                <td>{{order[2]}}</td>
                <!--Reference Order-->
                <td>{{order[3]}}</td>
                 <td><div class="dropdown">
                  <button onclick="Show_products()" class="dropbtn">Products</button>
                  <!--<div id="myDropdown" class="dropdown-content">
                    <a href="#edit">Edit</a>
                    <a href="#delete">Delete</a>
                    
                  </div>-->
              </div></td>
              </tr>
               
                 <!--<tbody style="display:none">-->
                 


                 {% for product in order[4] %}
                  <tr class="products" id="products">
                  <td>{{product[0]}}</td>
                  <td>{{product[1]}}</td>
                  <td>{{product[2]}}</td>
                  <td>{{product[4]}}</td>
                  
                </tr>
                {% endfor %}
                <!--</tbody>-->

            
       {% endfor %}
      <script>


$("#products").on("click","a",function(e) {
    e.preventDefault();
    $(this).closest("tr").nextUntil(".parent").toggleClass("open");
});

function Show_products() {
  document.getElementById("myDiv").style.display = "table-row";
  //document.getElementsByClassName("products").style.display = ""
}

function Unshow_Products() {
    document.getElementById("myTable").deleteRow(0);
}
</script>

     </table>
{% endblock %}
